<div class="card shadow-effect">
    <div class="card-body">
        <div class="text-center mt-3 mb-5">
            <h3>SUBSCRIPTION FORM</h3>
            <p class="m-auto subs-text paragraph-color2 sub-text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dignissim, sem </p>
            
            <form class="form-inline mb-5 mt-5">

                <div class="form-group col-md-5">
                    <input type="text" class="form-control shadow-effect" placeholder="Your Name">
                </div>
                <div class="form-group col-md-5">
                    <input type="email" class="form-control shadow-effect" placeholder="Your Email">
                </div>
                <div class="col-md-2">
                    <button class="btn btn-info btn-block btn-sub">SUBSCRIBE</button>
                </div>



            </form>
        </div>
    </div>
</div>
