.card{
    background-color: var(--secondary-color);
    border-radius: unset;
}

.card-body{
    width: 1100px;
}

.form-control{
    border-radius: unset;
}

input[type = text], input[type = email]{
    width: 100%;
}

.btn-sub{
    height: 50px;
    border: none;
    font-size: 13px;
    background-color: var(--primary-color);
    border-radius: unset;
}

