<div class="container-fluid">
    <section>
       <div class="container bg-theme p-5 shadow-effect">
        <h1 class="text-center">Contact Us</h1>
        <p class="text-center mb-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

        <div class="card card-bg-dark-theme p-3">
            <div class="card-body">
                <form class="form-group">
                    <label for="">Name</label>
                    <input type="text" class="form-control mb-3" placeholder="Enter Your Name Here">

                    <label for="">Email</label>
                    <input type="email" class="form-control mb-3" placeholder="Enter Your Email here">

                    <label for="">Message</label>
                    <textarea cols="30" rows="10" class="form-control mb-3" placeholder="Type your message here"></textarea>
                    <button type="submit" class="btn btn-secondary-color text-white">Send Message</button>
                    <a href="#" class="btn bg-white text-dark ml-4">Back to Home</a>
                </form>
            </div>
        </div>
       </div>
    </section>
</div>
