.site-logo{
    font-size: 1.0em;
}

nav{
    height: 70px;
    padding-left: 50px;
}

.nav-link{
    text-transform: uppercase;
    color: var(--secondary-color);
    font-size: 1.5em;
}

.hover-secondary:hover{
    color: rgb(221, 235, 27);
    text-decoration: none;
}

.hover-cat:hover{
    color: var(--primary-color) !important;
}