<div class="card mt-5 shadow-effect card-bg-dark-theme">
    <div class="card-body">
        <h4>Leave a Comment</h4>
        <p> You can leave a comment using this form </p>

        <form>
            <div class="form-group">
                <label for="">Name</label>
                <input type="text" class="form-control" placeholder="Enter your name here">
            </div>

            <div class="form-group">
                <label for="">Comment</label>
                <textarea cols="30" rows="10" class="form-control" placeholder="Add your comment here"></textarea>
            </div>

            <button class="btn btn-secondary-color">Add a Comment</button>
        </form>
    </div>
</div>
