<div class="card mb-5 mt-5 pb-5 shadow-effect card-bg-dark-theme">
  <div class="card-body">
    <h4 class="mt-3 mb-3">Comments (85,253)</h4>

    <div class="mt-3 shadow-effect comment-box">
      <h6 class="mb-0">John Doe</h6>
      <small class="text-warning"> LAST UPDATED - SEPT 20, 2023 </small>

      <div class="mt-3 mb-3">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vehicula,
        libero nec bibendum mattis, risus sapien blandit libero, ac vulputate
        leo nisi ac sapien. Nullam eget ante id nisl hendrerit venenatis. Nullam
        eget libero ac odio bibendum convallis.
      </div>

      <a href="#" class="mt-1 text-white"> Reply </a>
      <a href="#" class="mt-1 ml-3 text-white"> View Reply </a>
      <hr />
    </div>

    <div class="mt-3 shadow-effect comment-box">
        <h6 class="mb-0">John Doe</h6>
        <small class="text-warning"> LAST UPDATED - SEPT 20, 2023 </small>
  
        <div class="mt-3 mb-3">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vehicula,
          libero nec bibendum mattis, risus sapien blandit libero, ac vulputate
          leo nisi ac sapien. Nullam eget ante id nisl hendrerit venenatis. Nullam
          eget libero ac odio bibendum convallis.
        </div>
  
        <a href="#" class="mt-1 text-white"> Reply </a>
        <a href="#" class="mt-1 ml-3 text-white"> View Reply </a>
        <hr />
      </div>

      <div class="mt-3 shadow-effect comment-box">
        <h6 class="mb-0">John Doe</h6>
        <small class="text-warning"> LAST UPDATED - SEPT 20, 2023 </small>
  
        <div class="mt-3 mb-3">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vehicula,
          libero nec bibendum mattis, risus sapien blandit libero, ac vulputate
          leo nisi ac sapien. Nullam eget ante id nisl hendrerit venenatis. Nullam
          eget libero ac odio bibendum convallis.
        </div>
  
        <a href="#" class="mt-1 text-white"> Reply </a>
        <a href="#" class="mt-1 ml-3 text-white"> View Reply </a>
        <hr />
      </div>
  </div>
</div>
