<!-- Featured Posts Section -->
<section class="featured-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center mt-5">
                <h2 class="text-white"> Featured Posts </h2>
                <p class="text-white"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            </div>
        </div>

        <!-- Display featured posts using ngFor -->
        <div class="row">
            <div class="col-lg-3 mt-4" *ngFor="let featuredPost of featuredPostArray">
                <!-- Render a post card component with featured post data -->
                <app-post-card [postData]="featuredPost"></app-post-card>
            </div>
        </div>
    </div>
</section>

<!-- Latest Post Section -->
<section class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2> Latest Post </h2>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
        </div>
    </div>

    <!-- Display latest posts using ngFor -->
    <div class="row">
        <div class="col-md-4 mt-3" *ngFor="let latestPost of latestPostArray">
            <!-- Render a post card component with latest post data -->
            <app-post-card [postData]="latestPost"></app-post-card>
        </div>
    </div>
</section>