<div class="card h-100 shadow-effect" *ngIf="postData">
    <img
      src="{{ postData.data.postImgPath }}"
      alt="post-img"
      class="card-img-top card-img-custom"
    />
    <div class="card-body">
      <small class="bg-light text-danger card-text text-center">{{postData.data.category?.category}}</small>
      <small class="bg-light text-success card-text text-center ml-3">Featured</small>
      <small class="bg-light text-info card-text text-center ml-3">Views - {{ postData.data.views }}</small>

      <h5 class="card-title mt-1 text-primary">{{ postData.data.title | uppercase }}</h5>

      <p class="card-text paragraph-color">{{ postData.data.excerpt }}</p>

      <small class="text-warning card-text text-center">LAST UPDATED - {{ postData.data.createdAt?.toDate() | date : "medium" }}</small>
    </div>
</div>

