<div class="card shadow-effect">
    <img src="https://images.pexels.com/photos/147411/italy-mountains-dawn-daybreak-147411.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="post-img" class="card-img-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center"> Design </small>
        <small class="bg-light text-success text-center ml-3"> Featured </small>
        <small class="bg-light text-info text-center ml-3"> Views - 100,256 </small>

        <h5 class="mt-1 text-primary">HOW TO START A BLOG IN 2023 EDITED NEW CATEGORY</h5>
        <p class="paragraph-color">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dignissim, sem eget tristique accumsan, lorem purus tincidunt est, vel malesuada nisi ipsum ut justo.</p>

        <small class="bg-light text-warning text-center ml-3"> LAST UPDATED - SEP 20, 2022 </small>
    </div>
</div>